@charset "UTF-8";
/* CSS Document */


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */



/*--------------------------------------------------------------
1.1 - BODY
-------------------------------------------------------------- */

p {
	font-family: 'Montserrat', sans-serif;
}	

#eve-oak-txt {
	color: white;
	font-size: 1.3rem;
	line-height: 1.8rem;
	margin: -30px 0 40px 0;
	font-family: 'Montserrat', sans-serif;
}

#eve-oak-details {
	color: white;
	font-size: 1rem;
	line-height: 1.4rem;
	font-family: 'Montserrat', sans-serif;
}

#eve-oak-price {
	color: white;
	font-size: 1.4rem;
	line-height: 1.4rem;
	margin-top: -10px;
	font-family: 'Montserrat', sans-serif;
}

blockquote {
	font-size: 2rem;
	color: white;
	text-align: center;	
	font-weight: 700;
	margin: 165px 0 0 130px;
	font-family: 'Montserrat', sans-serif;
}

footer {
	font-weight: 400;
	font-size: 1.3rem;
	margin-top: -20px;	
	font-family: 'Montserrat', sans-serif;
}

#location {
	margin-top: 26px;	
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

#about-txt {
	margin-top: 57px;	
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}


#brew-txt {
	text-align: center;
	font-size: 1.4rem;
	line-height: 2.1rem;
	margin: 40px 0 0 125px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

#center {
	text-align: center;
	width: 60%;	
	margin: -30px 0 0 210px;
	font-size: 1.3rem;
	line-height: 2.1rem;
	color: white;
}

#contact {
	color: white;	
}

#coffee-callout {
	background-color: black;
	color: white;
	padding: 5px 10px;	
	margin: -57px 0 0 0;
	width: 60%;
	font-size: .6rem;
}

/*--------------------------------------------------------------
1.2 - HEADINGS
-------------------------------------------------------------- */

h1 {
	color:white;
	font-size: 3.5rem;	
	font-family: 'Montserrat', sans-serif;
}

#h1 {
	width: 100%;
}

h2 {
	font-size: 2rem;
	text-align: center;
	margin-top: 80px;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	margin-bottom: -15px;
	font-size: 1.4rem;	
	font-family: 'Montserrat', sans-serif;
}

#newsletter {
	margin-top: 80px;	
	color: white;
	font-size: 2rem;
}

/*--------------------------------------------------------------
1.3 - BUTTONS
-------------------------------------------------------------- */

#hero-button {
	padding: 13px 50px;
	border-style: solid;
    border-width: 5px;
	border-color: white;
	margin-top: 70px;
	width: 47%;	
	font-size: 1.3rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}


#how-to-brew {
	padding: 13px 50px;
	border-style: solid;
    border-width: 5px;
	border-color: white;
	margin: 90px 0 0 400px;
	width: 24%;	
	font-size: 1.3rem;
	font-family: 'Montserrat', sans-serif;	
}

#sunrise-button {
	padding: 13px 20px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin-top: 70px;
	width: 68%;	
	font-size: 1.3rem;	
	font-family: 'Montserrat', sans-serif;
}


#finch-house-blend-button {
	padding: 13px 20px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin-top: 50px;
	width: 68%;	
	font-size: 1.3rem;	
	font-family: 'Montserrat', sans-serif;
}

#midnight-button {
	padding: 13px 20px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin-top: 67px;
	width: 68%;	
	font-size: 1.3rem;	
	font-family: 'Montserrat', sans-serif;
}

#espresso-button {
	padding: 13px 20px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin-top: 85px;
	width: 63%;	
	font-size: 1.3rem;	
	font-family: 'Montserrat', sans-serif;
}

#subscribe-button {
	padding: 13px 50px;
	border-style: solid;
    border-width: 5px;
	border-color: white;
	width: 61%;	
	font-size: 1.4rem;
	float: right;
	margin-top: 19px;
	font-family: 'Montserrat', sans-serif;
}


#submit-button {
	padding: 13px 66px;
	border-style: solid;
    border-width: 5px;
	border-color: white;
	width: 100%;	
	font-size: 1.4rem;
	margin: 20px 0 0 422px;
	font-family: 'Montserrat', sans-serif;
}


/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */

form {
	margin-top: 30px;	
}

label {
	display:none;
}

input, textarea {
	width: 120%;
	padding: 19px;
	border:2px solid white;
	margin-top: 20px;
	background-color: black;
	color: white;
}

textarea {
	width: 296%;	
}

#form-two {
	margin: 60px 0 0 210px;	
}

/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */

li {
	list-style-type:none;
	display: inline-block;
	padding: 10px 25px;	
	font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------------------
2.0 - MAIN MENU
-------------------------------------------------------------- */

nav {
	margin: 125px 0 75px 0;
	width: 100%;
	color: white;
}

a {
	color: black;
	text-decoration: none;		
}

a:hover {
	color: black;	
}

nav, a {
	color: white;	
}

/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */
*, *:after, *:before {
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	box-sizing: border-box;
}

.wrapper {
	width: 75%;
	margin: 0 auto;	
}

.row:after {
	content:"";
	display: table;
	clear:both;	
}

img {
	max-width: 100%;	
}

[class*='col-'] {
	float: left;
	padding-right: 20px;	
	margin-bottom: 20px;	
	
}

[class*='col-']:last-of-type {
	padding-right: 0;	
}

/*--------------------------------------------------------------
3.1 - SINGLE COLUMNS
-------------------------------------------------------------- */

.col-1-1 {
	width: 100%;	
}

.col-1-2 {
	width: 50%;	
}

.col-1-3 {
	width: 33.33%;	
}

.col-2-3 {
	width: 66.66%;	
}

.col-1-4 {
	width: 25%;	
}

.col-1-5 {
	width: 20%;	
}

.col-1-6 {
	width: 16.66%; 	
}

.col-1-7 {
	width: 14.28%; 	
}

.col-1-8 {
	width: 12.5%; 	
}

.col-1-9 {
	width: 11.11%; 	
}

.col-1-10 {
	width: 10%; 	
}

.col-1-11 {
	width: 9.09%; 	
}

.col-1-12 {
	width: 8.33%; 	
}

/*--------------------------------------------------------------
3.2 - PARTIAL COLUMNS
-------------------------------------------------------------- */

.col-9-12 {
	width: 91.67%;
}

.col-3-2 {
	width: 75%;	
}
/*--------------------------------------------------------------
3.3 - SECTIONS
-------------------------------------------------------------- */

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */	

#twitter {
	width: 50px;
	height: 45px;
	background:url(../img/twitter-icon.png) no-repeat;	
	margin: -29px 0 0 207px;
}

#google {
	width: 50px;
	height: 45px;
	background:url(../img/google-icon.png) no-repeat;	
	margin-top: -29px;
}

#facebook {
	width: 50px;
	height: 45px;
	background:url(../img/facebook-icon.png) no-repeat;	
	margin-top: -29px;
}

#logo {
	background:url(../img/logo.png) no-repeat;
	width: 100%;
	height: 100px;	
	margin: 30px 0 0 460px;
}

#background {
	background:url(../img/coffee-hero.jpg) no-repeat;
	width: 100%;
	height: 810px;	
}

#eve-oak-img {
	width: 40%;
	height: 500px;
	background:url(../img/seasonal-roast.png) no-repeat;
}

#map {
	background:url(../img/map.jpg) no-repeat;
	height: 230px;
	margin-top: 30px;	
}

#sunrise {
	width: 145px;
	height: 145px;
	background:url(../img/sunrise.png) no-repeat center center;
	border-style: solid;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin-top: 40px;
}

#finch-house-blend {
	width: 145px;
	height: 145px;
	background:url(../img/finchhouseblend.png) no-repeat center center;
	border-style: solid;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin-top: 40px;
}

#midnight {
	width: 145px;
	height: 145px;
	background:url(../img/midnight.png) no-repeat center center;
	border-style: solid;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin-top: 40px;
}

#espresso {
	width: 145px;
	height: 145px;
	background:url(../img/espresso.png) no-repeat center center;
	border-style: solid;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin-top: 40px;
}

#call-out {
	background:url(../img/call-out.png) no-repeat;
	height: 100px;
	margin: -180px 0 105px 50px;
}	

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.1 - BG COLORS
-------------------------------------------------------------- */

#background-two {
	height: 760px;	
}

#background-three {
	background:url(../img/coffee-review-img.jpg) no-repeat;
	width: 100%;
	height: 500px;
}

#background-four {
	height: 525px;	
}

#background-five {
	height: 500px;
	background-color: #272727;	
}

#background-six {
	background-color: #000000;
	height: 850px;
	margin-top: 60px;	
}
 
#black {
	background-color: black;
	height: 300px;
	margin-top: -10px;
	padding-top: 20px;	
}

/*--------------------------------------------------------------
5.2 - TXT UTILITY
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.3 - SPACING
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.4 - ALIGNMENTS
-------------------------------------------------------------- */




@media screen and (max-width: 480px) {


/*--------------------------------------------------------------
1.1 - BODY
-------------------------------------------------------------- */

#eve-oak-txt {
	color: white;
	font-size: 1.1rem;
	line-height: 1.4rem;
	margin: -30px 0 70px 0;
	width: 200%;
}

#eve-oak-details {
	color: white;
	font-size: 1rem;
	line-height: 1rem;
	width: 200%;
}

#eve-oak-price {
	color: white;
	font-size: 1.4rem;
	line-height: 1rem;
	margin-top: -10px;
}

blockquote {
	font-size: 1.2rem;
	color: white;
	text-align: center;	
	font-weight: 700;
	margin: 165px 0 0 10px;
}

#cite {
	font-weight: 400;
	font-size: .9rem;
	margin-top: -20px;	
}

#location {
	margin-top: 10px;	
	font-size: 1.1rem;
	width: 100%
}

#about-txt {
	margin-top: 15px;	
	font-size: 1.1rem;
	width: 100%
}

#brew-txt {
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.5rem;
	margin: 30px 0 0 5px;
	width: 100%;
}

#center {
	text-align: center;
	width: 100%;	
	margin: -30px 0 0 5px;
	font-size: 1.1rem;
	line-height: 1.5rem;
}

/*--------------------------------------------------------------
1.2 - HEADINGS
-------------------------------------------------------------- */

h1 {
	color:white;
	font-size: 2.7rem;
	width: 200%;	
}

#h1 {
	width: 100%;
}

h2 {
	font-size: 2rem;
	text-align: center;
	margin-top: 50px;
}

h3 {
	margin-bottom: -15px;
	font-size: 1.2rem;	
}

#newsletter {
	margin-top: 50px;
	width: 100%;	
	font-size: 1.2rem;
}

/*--------------------------------------------------------------
1.3 - BUTTONS
-------------------------------------------------------------- */

#hero-button {
	padding: 10px 20px;
	border-style: solid;
    border-width: 5px;
	border-color: white;
	margin-top: 40px;
	width: 150%;	
	font-size: 1.4rem;
	text-align: center;
}

#how-to-brew {
	padding: 13px 50px;
	border-style: solid;
    border-width: 5px;
	border-color: white;
	margin: 100px 0 0 20px;
	width: 90%;	
	font-size: 1.4rem;	
	text-align: center;
}

#sunrise-button {
	padding: 10px 10px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin: 25px 0 40px 130px;
	width: 68%;	
	font-size: 1.4rem;	
	text-align: center;
}

#finch-house-blend-button {
	padding: 10px 10px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin: 25px 0 40px 130px;
	width: 68%;	
	font-size: 1.4rem;	
	text-align: center;
}

#midnight-button {
	padding: 10px 10px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin: 25px 0 40px 130px;
	width: 68%;	
	font-size: 1.4rem;	
	text-align: center;
}


#espresso-button {
	padding: 10px 10px;
	border-style: solid;
    border-width: 5px;
	border-color: black;
	margin: 25px 0 40px 130px;
	width: 63%;	
	font-size: 1.4rem;	
	text-align: center;
}


#subscribe-button {
    padding: 10px 26px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    width: 185%;
    font-size: 1.1rem;
    float: left;
    margin: 85px 0 -7px -41px;
    text-align: center;
}

#submit-button {
	padding: 6px 30px;
	border-style: solid;
    border-width: 3px;
	border-color: white;
	width: 100%;	
	font-size: 1.4rem;
	margin: 20px 0 0 145px;
	text-align: center;
}


/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */

form {
	margin-top: 30px;	
}

label {
	display:none;
}

input, textarea {
	width: 195%;
	padding: 14px;
	border:2px solid white;
	margin-top: 20px;
	background-color: black;
	color: white;
}

textarea {
	width: 225%;	
}

#form-two {
	margin: 40px 0 0 2px;	
}

#mobile {
	width: 100%;	
}

/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */

li {
	list-style-type:none;
	display: inline-block;
	padding: 10px 25px;	
}

/*--------------------------------------------------------------
2.0 - MAIN MENU
-------------------------------------------------------------- */

nav {
	margin: 5px 0 75px 0;
	width: 100%;
	color: white;
}

a {
	color: black;	
}

a:hover {
	color: black;	
}

nav, a {
	color: white;	
}

/*--------------------------------------------------------------
3.0 - SITE STRUCTURE
-------------------------------------------------------------- */
*, *:after, *:before {
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	box-sizing: border-box;
}

.wrapper {
	width: 75%;
	margin: 0 auto;	
}

.row:after {
	content:"";
	display: table;
	clear:both;	
}

img {
	max-width: 100%;	
}

[class*='col-'] {
	float: left;
	padding-right: 20px;	
	margin-bottom: 20px;	
	
}

[class*='col-']:last-of-type {
	padding-right: 0;	
}

/*--------------------------------------------------------------
3.1 - SINGLE COLUMNS
-------------------------------------------------------------- */

.col-1-1 {
	width: 100%;	
}

.col-1-2 {
	width: 50%;	
}

.col-1-3 {
	width: 33.33%;	
}

.col-2-3 {
	width: 66.66%;	
}

.col-1-4 {
	width: 100%;	
}

.col-1-5 {
	width: 20%;	
}

.col-1-6 {
	width: 16.66%; 	
}

.col-1-7 {
	width: 14.28%; 	
}

.col-1-8 {
	width: 12.5%; 	
}

.col-1-9 {
	width: 11.11%; 	
}

.col-1-10 {
	width: 10%; 	
}

.col-1-11 {
	width: 9.09%; 	
}

.col-1-12 {
	width: 8.33%; 	
}

/*--------------------------------------------------------------
3.2 - PARTIAL COLUMNS
-------------------------------------------------------------- */

.col-9-12 {
	width: 91.67%;
}

.col-3-2 {
	width: 100%;	
}
/*--------------------------------------------------------------
3.3 - SECTIONS
-------------------------------------------------------------- */

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */	

#twitter {
	width: 50px;
	height: 45px;
	background:url(../img/twitter-icon.png) no-repeat;	
	margin: -30px 0 0 1px;
}

#google {
	width: 50px;
	height: 45px;
	background:url(../img/google-icon.png) no-repeat;	
	margin-top: -30px;
}

#facebook {
	width: 50px;
	height: 45px;
	background:url(../img/facebook-icon.png) no-repeat;	
	margin-top: -30px;
}

#logo {
	background:url(../img/logo.png) no-repeat;
	width: 100%;
	height: 100px;	
	margin: 30px 0 0 100px;
}

#background {
	background:url(../img/coffee-hero.jpg) no-repeat;
	width: 100%;
	height: 810px;	
}

#eve-oak-img {
	width: 0;
	height: 500px;
	background:url(../img/seasonal-roast.png) no-repeat;
}

#map {
	background:url(../img/map.jpg) no-repeat;
	height: 230px;
	width: 100%;	
}

#sunrise {
	width: 110px;
	height: 110px;
	background:url(../img/sunrise.png) no-repeat center center;
	border-style: solid;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin: 40px 20px 0 0;
	float: left;;
}

#finch-house-blend {
	width: 110px;
	height: 110px;
	background:url(../img/finchhouseblend.png) no-repeat center center;
	border-style: solid;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin: 40px 20px 0 0;
	float: left;
}

#midnight {
	width: 110px;
	height: 110px;
	background:url(../img/midnight.png) no-repeat center center;
	border-style: solid;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin: 40px 20px 0 0;
	float: left;
}

#espresso {
	width: 110px;
	height: 110px;
	background:url(../img/espresso.png) no-repeat center center;
	border-style: solid;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin: 40px 20px 0 0;
	float: left;
}

#call-out {
	background:url(../img/call-out.png) no-repeat;
	height: 100px;
	margin: -370px 0 105px 30px;
}

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.1 - BG COLORS
-------------------------------------------------------------- */

#background-two {
	height: 1550px;	
}

#background-three {
	background:url(../img/coffee-review-img.jpg) no-repeat;
	width: 100%;
	height: 500px;
}

#background-four {
	height: 770px;	
}

#background-five {
	height: 600px;
	background-color: #272727;	
}

#background-six {
	background-color: #000000;
	height: 850px;
	margin-top: 60px;	
}

#black {
	background-color: black;
	height: 300px;
	margin-top: -10px;
	padding-top: 20px;	
}
	
}



